{% include "partials/footer.html" %}
</div>
</div>
<script src="{{ url_for('static', filename='admin_kit/js/app.js')}}"></script>
<script src="{{ url_for('static', filename='admin_kit/js/datatables.js')}}"></script>
{%if current_user.role == "admin"%}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Datatables Responsive
    $("#datatables_scheduled_task").DataTable({
      responsive: true,
      ajax: {
        url: "/get_scheduled_task",
        dataSrc: 'data'
        },
      columns: [
          { data: 'name' },
          { data: 'description' },
          { data: 'created_at' },
          { data: 'due_date' },
          { data: 'token' }
      ]
    }
    );
  });
</script>
{%endif%}
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    setTimeout(function () {
      if (localStorage.getItem("popState") !== "shown") {
        window.notyf.open({
          type: "success",
          message:
            'Get access to all 500+ components and 45+ pages with AdminKit PRO. <u><a class="text-white" href="https://adminkit.io/pricing" target="_blank">More info</a></u> 🚀',
          duration: 10000,
          ripple: true,
          dismissible: false,
          position: {
            x: "left",
            y: "bottom",
          },
        });

        localStorage.setItem("popState", "shown");
      }
    }, 15000);
  });
</script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en,id',
            includedLanguages: 'en,id',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: false
        }, 'google_translate_element');
    }
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const passwordInputs = document.querySelectorAll('input[type="password"]');

    passwordInputs.forEach(input => {
      const wrapper = document.createElement('div');
      wrapper.style.position = 'relative';
      input.parentNode.insertBefore(wrapper, input);
      wrapper.appendChild(input);
      input.style.paddingRight = '30px';

      const toggleIcon = document.createElement('i');
      toggleIcon.className = 'fa fa-eye toggle-password';
      toggleIcon.style.position = 'absolute';
      toggleIcon.style.right = '10px';
      toggleIcon.style.top = '50%';
      toggleIcon.style.transform = 'translateY(-50%)';
      toggleIcon.style.cursor = 'pointer';

      wrapper.appendChild(toggleIcon);

      toggleIcon.addEventListener('click', () => {
        if (input.type === 'password') {
          input.type = 'text';
          toggleIcon.classList.remove('fa-eye');
          toggleIcon.classList.add('fa-eye-slash');
        } else {
          input.type = 'password';
          toggleIcon.classList.remove('fa-eye-slash');
          toggleIcon.classList.add('fa-eye');
        }
      });
    });
  });
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
