{% include "partials/main_head.html" %} {% include "partials/alert.html" %}
<main class="content">
  <div class="container-fluid p-0">
    <div class="mb-3">
      <h1 class="h3 d-inline align-middle">Task History</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"></h5>
          </div>
          <div class="card-body">
            <br />
            <div class="m-1 pb-5" style="overflow: auto">
              <table
                id="datatables_all_history_task"
                class="table table-striped dataTable no-footer"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Token</th>
                    <th>Filename</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Modal -->
<div
  class="modal fade"
  id="taskDetailModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule Task</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Status</label>
          <input type="text" class="form-control" id="taskStatus" disabled />
        </div>
        <div class="mb-3">
          <label class="form-label">Filename</label>
          <input id="taskFilename" type="text" class="form-control" disabled />
        </div>
        <div class="mb-3">
          <a class="btn btn-primary" id="downloadLink" role="button"
            ><i class="fa-solid fa-download"></i
          ></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% include "partials/main_foot.html" %}
