{% include "partials/main_head.html" %} {% include "partials/alert.html" %}
<main class="content">
  <div class="container-fluid p-0">
    <div class="mb-3">
      <h1 class="h3 d-inline align-middle">Documents Admin</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"></h5>
          </div>
          <div class="card-body">
            <div>
              <button
                onclick="showModal()"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#taskModal"
              >
                <i class="fas fa-plus"></i>
                Buat Jadwal Tugas Baru
              </button>
            </div>
            <br />
            <div class="m-1 pb-5" style="overflow: auto">
              <table
                id="datatables_scheduled_task"
                class="table table-striped dataTable no-footer table-bordered"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Dibuat Pada</th>
                    <th>Batas Waktu</th>
                    <th>Token</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="taskModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Schedule Task</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nama</label>
            <input
              type="text"
              class="form-control"
              placeholder="Input task name"
              name="name"
              id="taskName"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Deskripsi</label>
            <input
              type="text"
              class="form-control"
              placeholder="Input task description"
              id="taskDescription"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Tanggal Mulai</label>
            <input
              id="taskCreatedAt"
              type="text"
              class="form-control flatpickr-datetime flatpickr-input active"
              placeholder="Select start date.."
              readonly="readonly"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Batas Waktu</label>
            <input
              name="due_date"
              type="text"
              class="form-control flatpickr-datetime flatpickr-input active"
              placeholder="Select due date.."
              readonly="readonly"
              id="taskDueDate"
            />
          </div>
          <input type="hidden" name="" id="editToken" />
          <div class="mb-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="send_schedule_notif"
              />
              <label class="form-check-label" for="send_schedule_notif">
                Kirim email notifikasi ke semua pengguna (pegawai)
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            id="buttonUpdate"
            type="button"
            class="btn btn-primary"
            onclick="saveEdit()"
          >
            Update
          </button>
          <button
            id="buttonSave"
            type="button"
            class="btn btn-primary"
            onclick="submitCreateTask()"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "partials/main_foot.html" %}
