{% include "partials/main_head.html" %} {% include "partials/alert.html" %}
<main class="content">
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">
      <strong>Sistem</strong>
      Pemberkasan Digital
    </h1>
    {%if current_user.role == "pegawai"%}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-3 card-title">Lists Task</h5>
          </div>
          <div class="card-body">
            <br />
            <div class="m-1 pb-5" style="overflow: auto">
              <table
                id="datatables_all_task"
                class="table table-striped dataTable no-footer"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Due Date</th>
                    <th>Token</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%else%}
    <p class="text-center">
      Sistem pemberkasan digital adalah inovasi terbaru dalam pengelolaan
      dokumen yang dirancang untuk mempermudah proses pengorganisiran,
      penyimpanan, dan pencarian berkas secara efisien dan aman. Dengan
      menggunakan aplikasi pemberkasan digital, pengguna dapat dengan mudah
      menginputkan berbagai jenis berkas secara terstruktur dan terorganisir
      dalam satu platform terpusat. Sistem ini memungkinkan pengguna untuk
      mengunggah dokumen dalam berbagai format, menambahkan metadata, serta
      mengkategorikan berkas sesuai dengan kebutuhan, sehingga meminimalisir
      risiko kehilangan atau kesalahan pencarian dokumen penting. Selain itu,
      aplikasi ini dilengkapi dengan fitur pencarian canggih yang mempercepat
      proses menemukan berkas tertentu hanya dengan beberapa klik atau kata
      kunci. Keunggulan lainnya adalah sistem ini mendukung keamanan data
      melalui fitur otentikasi dan hak akses, memastikan dokumen hanya dapat
      diakses oleh pihak yang berwenang. Penerapan sistem pemberkasan digital
      tidak hanya meningkatkan efisiensi operasional, tetapi juga membantu
      perusahaan dan organisasi dalam memenuhi standar dokumentasi yang rapi dan
      terkelola dengan baik. Dengan kemudahan penggunaan dan kehandalan
      teknologi, sistem ini menjadi solusi ideal untuk mengelola volume berkas
      yang terus berkembang secara sistematis dan terkontrol, mendukung
      produktivitas dan keberlanjutan bisnis secara keseluruhan.
    </p>
    {%endif%}
  </div>
</main>
{% include "partials/main_foot.html" %}
